main .bottom {
    padding: 2rem;
}

main .bottom .tugas-siswa{
    background: var(--color-white);
    padding: var(--padding-1);
    border-radius: var(--border-radius-2);
    margin-bottom: 2rem;
}

main .bottom .tugas-siswa h2{
    font-size: 24px;
    font-weight: 500;
    color: var(--color-black);
}
main .bottom .tugas-siswa h4{
    font-size: 14px;
    font-weight: 400;
    color: var(--color-black);
}
main .bottom .tugas-siswa h6{
    font-size: 14px;
    font-weight: 500;
    color: var(--color-green);
}
main .bottom .tugas-siswa p{
    margin-top: .5rem;
    font-size: 13px;
    font-weight: 400;
    color: var(--color-black);
}
main .bottom .tugas-siswa a.details{
    margin-top: .8rem;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-purple);
    text-align: end;
    justify-content: end;
    display: flex;
}

main .bottom .tugas-siswa .custom-table {
    width: 100%;
}
main .bottom .tugas-siswa .custom-table thead tr th{
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: .6rem;
}
main .bottom .tugas-siswa .custom-table thead tr th:nth-child(1){
    width: 5%;
}
main .bottom .tugas-siswa .custom-table thead tr th:nth-child(2){
    width: 10%;
}
main .bottom .tugas-siswa .custom-table thead tr th:nth-child(3){
    width: 10%;
}
main .bottom .tugas-siswa .custom-table thead tr th:nth-child(4){
    width: 15%;
}
main .bottom .tugas-siswa .custom-table thead tr th:nth-child(5){
    width: 10%;
}
main .bottom .tugas-siswa .custom-table thead tr th:nth-child(6){
    width: 10%;
}
main .bottom .tugas-siswa .custom-table thead tr th:nth-child(7){
    width: 20%;
}
main .bottom .tugas-siswa .custom-table thead tr th:nth-child(8){
    width: 10%;
}
main .bottom .tugas-siswa .custom-table thead tr th:nth-child(9){
    width: 15%;
}
main .bottom .tugas-siswa .custom-table thead tr, .custom-table thead th {
    border-top: none;
    border-bottom: none !important;
    text-align: start;
}
main .bottom .tugas-siswa .custom-table thead tr, .custom-table thead th.status {
    text-align: center;
}
main .bottom .tugas-siswa .custom-table thead tr, .custom-table thead th.action {
    text-align: center;
}
main .bottom .tugas-siswa .custom-table tbody th, main .bottom .tugas-siswa .custom-table tbody td {
    color: var(--color-black);
    font-weight: 400;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: 300; 
}
main .bottom .tugas-siswa .custom-table tbody th, main .bottom .tugas-siswa .custom-table tbody td.status {
    text-align: center;
}
main .bottom .tugas-siswa .custom-table tbody th, main .bottom .tugas-siswa .custom-table tbody td.action {
    text-align: center;
}
main .bottom .tugas-siswa .custom-table tbody th, main .bottom .tugas-siswa .custom-table tbody td.status span {
    background: var(--color-green);
    color: var(--color-white);
    border-radius: var(--border-radius-1);
    padding: .4rem .6rem;
}

.custom-table tbody th small, main .bottom .tugas-siswa .custom-table tbody td small {
    color: #b3b3b3;
    font-weight: 300; 
}
main .bottom .tugas-siswa .custom-table tbody tr th, main .bottom .tugas-siswa .custom-table tbody tr td {
    position: relative;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; 
}
main .bottom .tugas-siswa .custom-table tbody tr th:before, main .bottom .tugas-siswa .custom-table tbody tr th:after, main .bottom .tugas-siswa .custom-table tbody tr td:before, main .bottom .tugas-siswa .custom-table tbody tr td:after {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    content: "";
    left: 0;
    right: 0;
    position: absolute;
    height: 1px;
    background: #bfbfbf;
    width: 100%;
    opacity: 0;
    visibility: hidden; 
}
main .bottom .tugas-siswa .custom-table tbody tr th:before, main .bottom .tugas-siswa .custom-table tbody tr td:before {
    top: -1px; 
}
main .bottom .tugas-siswa .custom-table tbody tr th:after, main .bottom .tugas-siswa .custom-table tbody tr td:after {
    bottom: -1px; 
}
main .bottom .tugas-siswa .custom-table tbody tr:hover th, main .bottom .tugas-siswa .custom-table tbody tr:hover td {
    background: rgba(0, 0, 0, 0.03); 
}
main .bottom .tugas-siswa .custom-table tbody tr th:before, main .bottom .tugas-siswa .custom-table tbody tr td:before {
    opacity: 1;
    visibility: visible; 
}
main .bottom .tugas-siswa .custom-table tbody tr:hover th:before, main .bottom .tugas-siswa .custom-table tbody tr:hover td:before {
    opacity: 1;
    visibility: visible; 
}
main .bottom .tugas-siswa .custom-table tbody tr.active th, main .bottom .tugas-siswa .custom-table tbody tr.active td {
    background: rgba(0, 0, 0, 0.03); 
}
main .bottom .tugas-siswa .custom-table tbody tr.active th:before, main .bottom .tugas-siswa .custom-table tbody tr.active th:after, main .bottom .tugas-siswa .custom-table tbody tr.active td:before, main .bottom .tugas-siswa .custom-table tbody tr.active td:after {
    opacity: 1;
    visibility: visible; 
}


/* ========================== MEDIA QUERY TABLET ========================== */
@media screen and (max-width: 1200px) {

    main .bottom .card .option{
        justify-content: start;
    }

    main .bottom .card .item .middle h3{
        font-weight: 500;
        font-size: 18px;
        color: var(--color-black);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 350px;
    }
    
    main .bottom .card .item .right .author h3{
        font-weight: 500;
        font-size: 18px;
        color: var(--color-black);
        margin-right: .5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px;
    }
}

/* ========================== MEDIA QUERY PHONE ========================== */
@media screen and (max-width: 768px) {

    main .bottom {
        padding: 1rem;
    }
    
    main .bottom .card .item .middle h3{
        max-width: 100px;
    }
    
    main .bottom .card .item .middle small{
        font-weight: 400;
        font-size: 14px;
        color: var(--color-gray);
    }
    
    main .bottom .card .item .right .author{
        display: none;
    }
    
    main .bottom .card .item .right .action{
        display: block;
    }
    
    main .bottom .card .item .right .action a{
        margin-left: 0rem;
    }
}