main .bottom {
    padding: 2rem;
}

main .bottom .jam-pelajaran{
    background: var(--color-white);
    padding: var(--padding-1);
    border-radius: var(--border-radius-2);
    margin-bottom: 2rem;
}
main .bottom .jam-pelajaran h2{
    font-size: 24px;
    font-weight: 500;
    color: var(--color-black);
}

/* Option Button On Table */

main .bottom .jam-pelajaran .top-table{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
main .bottom .jam-pelajaran .top-table .right{
    display: flex;
    gap: 1rem;
}
main .bottom .jam-pelajaran .top-table .right a.add{
    display: block;
    font-size: 13px;
    background: var(--color-purple);
    color: var(--color-white);
    padding: .9rem 2.1rem;
    border-radius: var(--border-radius-1);
    transition: all 300ms ease;
}
main .bottom .jam-pelajaran .top-table .right a.add:hover{
    background: var(--color-purple-hover);
}
main .bottom .jam-pelajaran .top-table .right .dropdown{
    position: relative;
    display: inline-block;
}
main .bottom .jam-pelajaran .top-table .right .dropdown .btn-filter{
    display: block;
    font-size: 13px;
    background: var(--color-green);
    color: var(--color-white);
    padding: .9rem 2.1rem;
    border-radius: var(--border-radius-1);
    transition: all 300ms ease;
    cursor: pointer;
}
main .bottom .jam-pelajaran .top-table .right .dropdown:hover .btn-filter{
    background: var(--color-green-hover);
}
main .bottom .jam-pelajaran .top-table .right .dropdown .dropdown-filter{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: pointer;
    z-index: 1;
}
main .bottom .jam-pelajaran .top-table .right .dropdown:hover .dropdown-filter{
    display: block;
}
main .bottom .jam-pelajaran .top-table .right .dropdown .dropdown-filter a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
main .bottom .jam-pelajaran .top-table .right .dropdown .dropdown-filter a:hover{
    color: #ddd;
}

main .bottom .jam-pelajaran .table .edit {
    display: block;
    font-size: 13px;
    background: var(--color-yellow);
    color: var(--color-white);
    padding: .4rem 1.1rem;
    border-radius: var(--border-radius-1);
    transition: all 300ms ease;
}
main .bottom .jam-pelajaran .table .edit:hover {
    background: var(--color-yellow-hover);
}

main .bottom .jam-pelajaran .table .delete {
    display: block;
    font-size: 13px;
    background: var(--color-red);
    color: var(--color-white);
    padding: .4rem 1.1rem;
    border-radius: var(--border-radius-1);
    transition: all 300ms ease;
    cursor: pointer;
}
main .bottom .jam-pelajaran .table .delete:hover {
    background: var(--color-red-hover);
    color: var(--color-white);
}

/* Option Button On Table */

main .bottom .jam-pelajaran .custom-table {
    width: 100%;
}
main .bottom .jam-pelajaran .custom-table thead tr th{
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: .6rem;
}
main .bottom .jam-pelajaran .custom-table thead tr th:nth-child(1){
    width: 5%;
}
main .bottom .jam-pelajaran .custom-table thead tr th:nth-child(2){
    width: 10%;
}
main .bottom .jam-pelajaran .custom-table thead tr th:nth-child(3){
    width: 15%;
}
main .bottom .jam-pelajaran .custom-table thead tr th:nth-child(4){
    width: 15%;
}
main .bottom .jam-pelajaran .custom-table thead tr th:nth-child(5){
    width: 10%;
}
main .bottom .jam-pelajaran .custom-table thead tr th:nth-child(6){
    width: 20%;
}
main .bottom .jam-pelajaran .custom-table thead tr th:nth-child(7){
    width: 10%;
}
main .bottom .jam-pelajaran .custom-table thead tr, .custom-table thead th {
    border-top: none;
    border-bottom: none !important;
    text-align: start;
}
main .bottom .jam-pelajaran .custom-table thead tr, .custom-table thead th:last-child {
    text-align: center;
}
main .bottom .jam-pelajaran .custom-table tbody th, main .bottom .jam-pelajaran .custom-table tbody td {
    color: var(--color-black);
    font-weight: 400;
    padding-bottom: 20px;
    padding-top: 20px;
}
main .bottom .jam-pelajaran .custom-table tbody th, main .bottom .jam-pelajaran .custom-table tbody td:last-child {
    text-align: center;
    justify-content: center;
    display: flex;
    gap: .5rem;
}

.custom-table tbody th small, main .bottom .jam-pelajaran .custom-table tbody td small {
    color: #b3b3b3;
    font-weight: 300; 
}
main .bottom .jam-pelajaran .custom-table tbody tr th, main .bottom .jam-pelajaran .custom-table tbody tr td {
    position: relative;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; 
}
main .bottom .jam-pelajaran .custom-table tbody tr th:before, main .bottom .jam-pelajaran .custom-table tbody tr th:after, main .bottom .jam-pelajaran .custom-table tbody tr td:before, main .bottom .jam-pelajaran .custom-table tbody tr td:after {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    content: "";
    left: 0;
    right: 0;
    position: absolute;
    height: 1px;
    background: #bfbfbf;
    width: 100%;
    opacity: 0;
    visibility: hidden; 
}
main .bottom .jam-pelajaran .custom-table tbody tr th:before, main .bottom .jam-pelajaran .custom-table tbody tr td:before {
    top: -1px; 
}
main .bottom .jam-pelajaran .custom-table tbody tr th:after, main .bottom .jam-pelajaran .custom-table tbody tr td:after {
    bottom: -1px; 
}
main .bottom .jam-pelajaran .custom-table tbody tr:hover th, main .bottom .jam-pelajaran .custom-table tbody tr:hover td {
    background: rgba(0, 0, 0, 0.03); 
}
main .bottom .jam-pelajaran .custom-table tbody tr th:before, main .bottom .jam-pelajaran .custom-table tbody tr td:before {
    opacity: 1;
    visibility: visible; 
}
main .bottom .jam-pelajaran .custom-table tbody tr:hover th:before, main .bottom .jam-pelajaran .custom-table tbody tr:hover td:before {
    opacity: 1;
    visibility: visible; 
}
main .bottom .jam-pelajaran .custom-table tbody tr.active th, main .bottom .jam-pelajaran .custom-table tbody tr.active td {
    background: rgba(0, 0, 0, 0.03); 
}
main .bottom .jam-pelajaran .custom-table tbody tr.active th:before, main .bottom .jam-pelajaran .custom-table tbody tr.active th:after, main .bottom .jam-pelajaran .custom-table tbody tr.active td:before, main .bottom .jam-pelajaran .custom-table tbody tr.active td:after {
    opacity: 1;
    visibility: visible; 
}


/* ========================== MEDIA QUERY TABLET ========================== */
@media screen and (max-width: 1200px) {

    main .bottom .card .option{
        justify-content: start;
    }

    main .bottom .jam-pelajaran{
        overflow: scroll;
    }

    main .bottom .jam-pelajaran h3{
        font-weight: 500;
        font-size: 18px;
        color: var(--color-black);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 350px;
    }
}

/* ========================== MEDIA QUERY PHONE ========================== */
@media screen and (max-width: 768px) {

    main .bottom {
        padding: 1rem;
    }
    
    main .bottom .jam-pelajaran .item .middle h3{
        max-width: 100px;
    }
    
    main .bottom .jam-pelajaran .item .middle small{
        font-weight: 400;
        font-size: 14px;
        color: var(--color-gray);
    }
    
    main .bottom .jam-pelajaran .item .right .author{
        display: none;
    }
    
    main .bottom .jam-pelajaran .item .right .action{
        display: block;
    }
    
    main .bottom .jam-pelajaran .item .right .action a{
        margin-left: 0rem;
    }
}